SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="HeadlineList" type="tns:HeadlineList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HeadlineList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="HeadlineListItem" type="tns:HeadlineListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HeadlineListItem">
    <xs:sequence>
      <xs:element name="TweetList" type="tns:TweetList" />
    </xs:sequence>
    <xs:attribute name="Title" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="TweetList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TweetListItem" type="tns:TweetListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TweetListItem">
    <xs:attribute blend:FormatParameters="..\..\..\Users\Jordan Warzecha\Desktop\Images" name="Picture" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="1,8" name="Author" type="xs:string" />
    <xs:attribute blend:FormatParameters="20,7" name="Title" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>